.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 540px;
  background-color: #c6c6c6;
}

.cell-white {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  background-color: #ccc;
  justify-content: center;
}

.cell-black {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  background-color: #f5f;
  justify-content: center;
}

.generation {
  position: relative;
  content: '';
  width: 300px;
  height: 80px;
  margin-top: 50px;
}

.search {
  position: relative;
  content: '';
  width: 300px;
  height: 80px;
  margin-top: 10px;
}


.human {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  background-color: #888;
  justify-content: center;
}
