.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 540px;
  background-color: #d5e5f2;
}

.cell-black,
.cell-white {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-white {
  background-color: #d5e5f2;
}

.cell-black {
  background-color: #06ab9a;
}

@font-face {
  font-family: Pokemon;
  src: url('../../fonts/RsFont-Regular.ttf') format('truetype');
}

.generation,
.search,
.select {
  position: relative;
  content: '';
  width: 300px;
  height: 80px;
  margin-top: 50px;
  font-family: Pokemon, sans-serif;
  font-size: 30px;
}

.goal {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  background: url('~/assets/images/satoshi.png') no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  justify-content: center;
}

.satoshipikachu {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  background: url('~/assets/images/pikachu-satoshi.png') no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  justify-content: center;
}

.pikachu {
  width: 60px;
  height: 60px;
  content: '';
  background: url('~/assets/images/pikachu.png') no-repeat;
  background-size: 200%;
  background-position: 50% 50%;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.rotate0 {
  transform: rotate(360deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(270deg);
}

/* スマートフォン用のスタイル（画面幅450px以下） */
@media (max-width: 450px) {
  .board {
    width: calc(540px * 6.5 / 10);
    height: calc(540px * 6.5 / 10);
  }

  .cell-white,
  .cell-black,
  .goal,
  .satoshipikachu,
  .pikachu {
    width: calc(60px * 6.5 / 10);
    height: calc(60px * 6.5 / 10);
    border: calc(1px * 6.5 / 10) solid black;
  }

  .generation,
  .search,
  .select {
    width: calc(300px * 6.5 / 10);
    height: calc(80px * 6.5 / 10);
    margin-top: calc(50px * 6.5 / 10);
    font-size: calc(30px * 6.5 / 10);
  }
}
