.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #aad1e2;

  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuDW7-52YzXwaoLNmDZVJSmGuZZv5zp7FVVA&usqp=CAU://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOVTfQKkUFq0YOizqSNhytqlsrCCSn8zYCXw&usqp=CAU"); */
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 556px;
  height: 556px;
  background-color: #fff;
  border: double 8px #303030;
}

.cell-black,
.cell-white {
  width: 60px;
  height: 60px;
  border: 1px solid #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cell-white {
  /* background-color: #d5e5f2; */
  background-color: #e6e6f2;
}

.cell-black {
  background-color: #06ab9a;

  /* background-color: #f39ed6; */
}

@font-face {
  font-family: Pokemon;
  src: url('../../fonts/RsFont-Regular.ttf') format('truetype');
}

.word {
  font-family: Pokemon, sans-serif;
  font-size: 30px;
  transition: opacity 0.1s;
  width: 300px;
}

.generation,
.search,
.select {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  content: '';
  width: 300px;
  height: 80px;
  margin-top: 50px;
  border-radius: 15px;
  border: double 8px #303030;
  background-color: #fff;
}

.word:active {
  opacity: 0.5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 100px;
  background-color: #fff;
  margin-bottom: 50px;
  border: double 10px #303030;
  border-radius: 10px;
  padding: 10px;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animated-heading {
  font-family: Pokemon, sans-serif;
  font-size: 50px;
  animation: fade-in-out 2s infinite;
  animation-delay: 1s;
}

.goal {
  width: 60px;
  height: 60px;
  border: 1px solid #303030;
  display: flex;
  align-items: center;
  background: url('~/assets/images/satoshi.png') no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  justify-content: center;
  background-color: #e6e6f2;
}

.satoshipikachu {
  width: 60px;
  height: 60px;
  border: 1px solid #303030;
  display: flex;
  align-items: center;
  background: url('~/assets/images/pikachu-satoshi.png') no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  justify-content: center;
  background-color: #e6e6f2;
}

.text-box {
  width: 400px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-in 1s forwards;
  opacity: 0;
  position: absolute;
  top: 60%;
  right: 40%;
  border-radius: 10px;
  border: double 8px #303030;
}

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.pikachuget {
  margin-left: 15px;
  font-family: Pokemon, sans-serif;
  font-size: 37px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(30) forwards;
  position: relative;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.pikachu {
  width: 60px;
  height: 60px;
  content: '';
  background: url('~/assets/images/pikachu.png') no-repeat;
  background-size: 200%;
  background-position: 50% 50%;
  border: 1px solid #303030;
  align-items: center;
  justify-content: center;
  background-color: #e6e6f2;
}

.rotate0 {
  transform: rotate(360deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(270deg);
}

@media (max-width: 450px) {
  .board {
    width: calc(555px * 6.5 / 10);
    height: calc(555px * 6.5 / 10);
    border: double calc(8px * 6.5 / 10) #303030;
  }

  .cell-white,
  .cell-black,
  .goal,
  .satoshipikachu,
  .pikachu {
    width: calc(60px * 6.5 / 10);
    height: calc(60px * 6.5 / 10);
    border: calc(1px * 6.5 / 10) solid #303030;
  }

  .generation,
  .search,
  .select {
    width: calc(300px * 6.5 / 10);
    height: calc(80px * 6.5 / 10);
    margin-top: calc(50px * 6.5 / 10);
  }

  .header {
    width: calc(480px * 6.5 / 10);
    height: calc(100px * 6.5 / 10);
    margin-bottom: calc(50px * 6.5 / 10);
  }

  .animated-heading {
    font-size: 30px;
  }

  .word {
    font-size: calc(30px * 6.5 / 10);
    width: calc(300px * 6.5 / 10);
  }

  .text-box {
    width: calc(400px * 6.5 / 10);
    height: calc(80px * 6.5 / 10);
    top: 58%;
    right: 25%;
    border-radius: calc(10px * 6.5 / 10);
    border: double calc(8px * 6.5 / 10) #303030;
  }

  .pikachuget {
    padding-left: 4px;
    margin-left: calc(10px * 6.5 / 10);
    font-size: calc(37px * 6.5 / 10);
  }
}
